    {% extends 'site/base.html' %}
    {% load staticfiles %}
    {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Аксессуары из натуральной кожи – это всегда стильно, актуально и модно. Кроме того, если кожа хорошего качества, а мы используем только такую, то вещь прослужит вам верой и правдой очень долго! Также не маловажно удовольствие, которые вы испытываете, держа в руках качественный и красивый кошелек из кожи, клатч или сумку! Аксессуары из кожи ручной работы подчеркивают индивидуальность владельца и его хороший вкус. Найдите для себя изделие по вкусу, либо закажите его у нас, и мы изготовим его на заказ!</p>
                <p>Наша мастерская объединяет творческих людей, которые работают для того, чтобы предложить вам качественный, оригинальный и необычный товар, лучшим материалом для которого является натуральная кожа. Изделия из кожи ручной работы А кожу мы используем только отличного качества. Никакого низкопробного материала! Почти вся кожа итальянского и турецкого производства, а также хорошие сорта отечественной натуральной кожи.</p>
                <a href="#">
                    <img class="img-responsive" src="img/caralog6.jpg" alt="">
                </a>
                <span class="caption text-muted">Свяжитесь с нами по телефону, или напишите нам по WhatsApp! Наш номер 0700-680-620</span>
                <p>Не нашли у нас то, что нужно именно вам? Мы изготовим это для вас! От вас нужно только техническое задание. Не хотите ломать голову и тратить свое время? Мы можем взять на себя весь цикл разработки необходимой вам продукции. Просто скажите, что вы хотите. Остальное мы сделаем сами! Мы гарантируем 100% результат.</p>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
