    {% extends 'site/base.html' %}
    {% load staticfiles %}
    {% block content %}
    <div class="container-fluid container-90">
        <div class="row">

            <div class="col-md-3">
                <div class="post-preview">
                    <a href="page.html">
                        <p class="post-meta">February 8, 2018</p>
                        <img class="img-responsive" src="{% static 'img/catalog1.jpg'%}">
                        <h2 class="post-title">
                            Кожаные клатчи
                        </h2>
                        <h3 class="post-subtitle">
                            Пожалуй, ни одна другая сумка не выглядит столь женственной, как клатч. В этом и заключается главное преимущество миниатюрной сумочки без ручки. Еще несколько лет назад клатч считался изысканным аксессуаром и использовался исключительно в качестве дополнения к элегантным вечерним платьям и роскошным туалетам.
                        </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-preview">
                    <a href="page.html">
                        <p class="post-meta">February 8, 2018</p>
                        <img class="img-responsive" src="{% static 'img/catalog2.jpg'%}">
                        <h2 class="post-title">
                            Зажимы для денег
                        </h2>
                        <h3 class="post-subtitle">
                            Такой изысканный аксессуар, как зажимы для денег, предназначенный для ношения бумажных купюр, появился сравнительно недавно, призванный стать достойной альтернативой традиционным бумажникам и портмоне. С другой стороны, оригинальный зажим вместо стереотипного, даже очень недешевого кошелька придает его владельцу деловой солидности.
                        </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-preview">
                    <a href="page.html">
                        <p class="post-meta">February 8, 2018</p>
                        <img class="img-responsive" src="{% static 'img/catalog3.jpg'%}">
                        <h2 class="post-title">
                            Кожанные ключницы
                        </h2>
                        <h3 class="post-subtitle">
                            Ключница (аксессуар) — специализированный футляр объемной формы для хранения и переноски ключей. Объединяет и фиксирует ключи для уменьшения риска их утери. Закрывается при помощи кнопок или молнии. Чаще всего изготовлена из натуральной кожи (например, крокодила, ската) и относится к кожгалантерее Может являться модным аксессуаром, то есть соответствовать модным тенденциям.
                        </h3>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-preview">
                    <a href="page.html">
                        <p class="post-meta">February 8, 2018</p>
                        <img class="img-responsive" src="{% static 'img/catalog4.jpg'%}">
                        <h2 class="post-title">
                            Кожаные портмане
                        </h2>
                        <h3 class="post-subtitle">
                            Элегантное и стильное мужское портмоне — аксессуар независимого мужчины, стремящегося подчеркнуть свой социальный статус, индивидуальность. Покупка кошелька — кропотливый процесс, требующий особого внимания к деталям. Данный мужской аксессуар — отличный способ продемонстрировать стиль и отменный вкус. 
                        </h3>
                    </a>
                </div>
            </div>

        </div>
        <!-- Pager
        <ul class="pager">
            <li class="next">
                <a href="#">Older</a>
            </li>
        </ul> -->
    </div>


    <hr>
    {% endblock %}
